TSGS_CS_Login_Client/Service References/TSGS_MLC_Service/TSGS_MLC_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TSGS_MLC_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50105/TSGS_MLC_Service.TSGS_MLC_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50105/TSGS_MLC_Service.TSGS_MLC_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50105/TSGS_MLC_Service.TSGS_MLC_Service.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITSGS_MLC_Service_GetMLCText_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMLCText" />
  </wsdl:message>
  <wsdl:message name="ITSGS_MLC_Service_GetMLCText_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMLCTextResponse" />
  </wsdl:message>
  <wsdl:message name="ITSGS_MLC_Service_GetLanguageList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguageList" />
  </wsdl:message>
  <wsdl:message name="ITSGS_MLC_Service_GetLanguageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguageListResponse" />
  </wsdl:message>
  <wsdl:message name="ITSGS_MLC_Service_TranslateLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:TranslateLanguages" />
  </wsdl:message>
  <wsdl:message name="ITSGS_MLC_Service_TranslateLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:TranslateLanguagesResponse" />
  </wsdl:message>
  <wsdl:portType name="ITSGS_MLC_Service">
    <wsdl:operation name="GetMLCText">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSGS_MLC_Service/GetMLCText" message="tns:ITSGS_MLC_Service_GetMLCText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSGS_MLC_Service/GetMLCTextResponse" message="tns:ITSGS_MLC_Service_GetMLCText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguageList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSGS_MLC_Service/GetLanguageList" message="tns:ITSGS_MLC_Service_GetLanguageList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSGS_MLC_Service/GetLanguageListResponse" message="tns:ITSGS_MLC_Service_GetLanguageList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TranslateLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSGS_MLC_Service/TranslateLanguages" message="tns:ITSGS_MLC_Service_TranslateLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSGS_MLC_Service/TranslateLanguagesResponse" message="tns:ITSGS_MLC_Service_TranslateLanguages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITSGS_MLC_Service" type="tns:ITSGS_MLC_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMLCText">
      <soap:operation soapAction="http://tempuri.org/ITSGS_MLC_Service/GetMLCText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguageList">
      <soap:operation soapAction="http://tempuri.org/ITSGS_MLC_Service/GetLanguageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateLanguages">
      <soap:operation soapAction="http://tempuri.org/ITSGS_MLC_Service/TranslateLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TSGS_MLC_Service">
    <wsdl:port name="BasicHttpBinding_ITSGS_MLC_Service" binding="tns:BasicHttpBinding_ITSGS_MLC_Service">
      <soap:address location="http://localhost:50105/TSGS_MLC_Service.TSGS_MLC_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>